.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin: 16px;
}

@media screen and (min-width: 560px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 930px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1160px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1360px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 16px auto 0px;
    width: 1300px;
  }
}

ul li:hover {
  opacity: 0.9;
  cursor: pointer;
}
